form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;

}

label {
    font-weight: bold;
}

input,
select,
textarea {
    padding: 8px;
    font-size: 0.5rem;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 1rem;
    background-color: #0061a8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #004d82;
}

.membershiptitle {
    font-size: 1rem;
    color: var(--secundary2-color);
}



.membership-cards {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
    font-size: 10px;
    padding-bottom: 30px;
}

.card {
    padding: 1rem;
    background: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}

.membership-cards .card:nth-child(1) {
    animation: fadeInUp 0.5s ease forwards 0.2s;
}

.membership-cards .card:nth-child(2) {
    animation: fadeInUp 0.5s ease forwards 0.4s;
}

.membership-cards .card:nth-child(3) {
    animation: fadeInUp 0.5s ease forwards 0.6s;
}

.membership-cards .card:nth-child(4) {
    animation: fadeInUp 0.5s ease forwards 0.8s;
}

/* Animación clave */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modales */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal-content {
    background: white;
    margin: 10% auto;
    padding: 1.5rem;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

@media only screen and (min-width: 38rem) {
    .membership-cards {
        margin-top: 0;
        align-self: start;
    }

    form {
        font-size: 20px;
    }

    .membershiptitle {
        font-size: 1.5rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 50px 80px;
    }

    .membership-cards {
        font-size: 16px;
        padding-bottom: 30px;
        padding-top: 80px;

    }

    input,
    select,
    textarea {
        font-size: 1.1rem;
    }

}



.budyclass {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#results {
    background-color: antiquewhite;
    padding: 50px;
    border-radius: 50px;
}