@media screen and (min-width: 600px) {

    header,
    main,
    nav,
    footer {
        margin: 0 auto;
    }

    header{
        font-size: 15px;
        border-bottom: none;
    }

    .hamburgermenu {
        display: none;
    }

    .navigation {
        display: block;
        background-color: var(--accent1-color);
    }

    .navigation ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: center;
    }


    .navigation ul li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
        border-bottom: none;
    }


    .maindivtwo {
        display: flex;
        justify-content: center;
    }
    .maindivtwo section {
        padding: 20px;
        max-width: 800px;
    }

    
}