#certificates {
  text-align: center;
  margin: 2rem auto;
  max-width: 700px;
  padding: 40px;
}

.filter-buttons {
  margin-bottom: 1rem;
}

.filter-buttons button {
  margin: 0 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.filter-buttons button:hover {
  background-color: #8390b4;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.course {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.course:hover {
  transform: scale(1.05);
}

.course.completed {
  background-color: #c7f9cc;
  border-left: 6px solid #2d6a4f;
}

.course.not-completed {
  background-color: #ffe5b4;
  border-left: 6px solid #c96c00;
}
